.converter-container {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 3px;
  margin: auto;
  width: 65%;
  padding: 20px;
  height: 250px;

  & .erorr-text:first-of-type {
    margin-bottom: 5px;
  }
  & .error-text {
    text-align: center;
    margin-bottom: 15px;
    color: black;
  }

  & form {
    margin: 0;
  }

  &__form-inputs {
    display: flex;
    justify-content: center;
    gap: 20%;
  }

  & p {
    color: grey;
    font-size: 14px;
    margin-bottom: 3px;
  }

  & p:last-of-type {
    font-size: 15px;
  }

  & input,
  & select {
    height: 60px;
    font-size: 17px;
    cursor: pointer;
  }

  & input {
    padding: 8px;
    max-width: 90px;
  }

  &__button-conversion-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  & button {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4361ee;
    color: white;
    cursor: pointer;
    position: relative;
    right: 0;
  }
}
